# Generated build outputs
.output
.data
.nuxt
.nitro
.cache
.astro
dist
public/tunasync_status.json
public/static/res_link.json

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
