---
import Icon from '../../Icon.vue'
import type { ArticleDigest } from '../../news/ArticleDigest'

interface Props {
  digest: ArticleDigest
}

const { digest } = Astro.props
const dateString = new Intl.DateTimeFormat('zh-CN', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
  timeZone: 'UTC',
}).format(new Date(digest.date))
---

<li class="flex justify-between items-center">
  <div class="min-w-0 flex items-center">
    <div class="pr-2 flex items-center justify-center">
      <Icon name="icon-park-outline:align-text-left" />
    </div>
    <a
      href={digest._path}
      class="truncate transition-colors relative inline-block z-10 decoration-dotted underline-offset-4 hocus:underline hover:cursor-pointer"
    >
      {digest.title}
    </a>
  </div>
  <div class="shrink-0">
    <span class="inline-block">
      {dateString}
    </span>
  </div>
</li>
