$accent_blue: rgb(96, 165, 250);
$secondary_grey: rgb(148, 163, 184);
$dark_background: rgb(17, 24, 39);
.markdown-body {
    html.dark & {
        --bgColor-default: $dark_background !important;
    }

    ul {
        list-style-type: circle;
    }
    h1 {
        margin-top: 0;
    }
    h2,
    h3,
    h4 {
        a {
            color: inherit;
            position: relative;
            &:hover {
                text-decoration: none;
            }
            &::before {
                transition-duration: .15s;
                transition-property: color;
                transition-timing-function: cubic-bezier(.4,0,.2,1);
                position: absolute;
                display: inline-block;
                left: -1em;
                content: '#';
                color: transparentize($secondary_grey, 1)
            }
            &:hover::before {
                display: inline-block;
                color: $secondary_grey;
            }
        }
    }
    a {
        color: $accent_blue;
    }
}
