---
interface Props {
  compact?: boolean
}

const { compact = false } = Astro.props
---

<h2
  class:list={[
    'flex flex-nowrap font-medium space-x-1.5',
    compact ? 'text-xl' : 'text-2xl',
  ]}
>
  <span class="inline-block translate-y-[3px]">
    <slot name="icon" />
  </span>
  <span
    class="transition-colors after:transition-all relative inline-block z-10 after:block after:absolute after:bg-blue-100 dark:after:bg-slate-700 after:rounded-md after:w-4 after:h-1 after:-right-5 after:bottom-1 after:-z-10 hocus:after:w-full hocus:after:h-2 hocus:after:right-0"
  >
    <slot />
  </span>
</h2>
