---
import type { HTMLAttributes } from 'astro/types'

import FooterLink from './FooterLink.astro'

interface Props extends HTMLAttributes<'footer'> {
}

const { class: className, ...props } = Astro.props
---

<footer
  {...props}
  class:list={[
    className,
    'flex flex-col items-center justify-between space-y-4 border-t border-surface-border px-2 pt-6 pb-8 text-xs text-muted-fg md:flex-row md:space-x-12 md:space-y-0 md:whitespace-nowrap md:text-sm',
  ]}
>
  <span class="grow">
    本站由哈尔滨工业大学（深圳）开源技术协会运营
  </span>
  <div>
    <ul class="flex space-x-8">
      <li>
        <FooterLink link="https://github.com/hitszosa">
          GitHub
        </FooterLink>
      </li>
      <li>
        <FooterLink link="https://github.com/hitszosa/Mirrors/issues/new">
          建议与反馈
        </FooterLink>
      </li>
    </ul>
  </div>
</footer>
